[uwsgi]
chdir = {{ museumplus_pas_web_ui_install_path }}
module = museumplus_pas_web_ui.wsgi
home = {{ museumplus_pas_web_ui_install_path }}/.venv

master = true
plugins = python36
processes = 2
socket = {{ web_ui_socket_path }}

uid = {{ museumplus_pas_user }}
gid = {{ museumplus_pas_user }}

chmod-socket = 666
vacuum = true

touch-reload = /tmp/museumplus-pas-web-ui-reload

stats = /tmp/museumplus-pas-web-ui-stats.sock
