[Unit]
Description=confirm-sip RQ worker %i
After=network.target

[Service]
Type=simple
WorkingDirectory={{ museumplus_pas_workflow_install_path }}
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=LC_LANG=en_US.UTF-8
ExecStart={{ museumplus_pas_workflow_install_path }}/confirm-sip-worker.sh %i
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
# Give each worker 10 minutes to finish the current task before forcing
# shutdown
TimeoutStopSec=600
PrivateTmp=true
Restart=always
# Wait 5 seconds before restarting to ensure the old worker isn't registered
# anymore
RestartSec=5
User={{ museumplus_pas_user }}
Group={{ museumplus_pas_user }}

[Install]
WantedBy=multi-user.target
