[Unit]
Description=Synchronize MuseumPlus attachments
After=network.target

[Service]
Type=simple
WorkingDirectory={{ museumplus_pas_workflow_install_path }}
Environment=LANG=en_US.UTF-8
ExecStart={{ museumplus_pas_workflow_install_path }}/run-venv.sh sync-attachments --save-progress
Restart=on-failure
User={{ museumplus_pas_user }}
Group={{ museumplus_pas_user }}

[Install]
WantedBy=multi-user.target
