[submodule "passari"]
	path = passari
	url = ../passari
[submodule "passari-workflow"]
	path = passari-workflow
	url = ../passari-workflow
[submodule "passari-web-ui"]
	path = passari-web-ui
	url = ../passari-web-ui
[submodule "ansible"]
	path = ansible
	url = ../passari-ansible
