-c requirements.txt.constraints

dpres-siptools-ng @ https://github.com/Digital-Preservation-Finland/dpres-siptools-ng/archive/refs/tags/v1.0.0.zip
dpres-mets-builder @ https://github.com/Digital-Preservation-Finland/dpres-mets-builder/archive/refs/tags/v1.0.0.zip
dpres-signature @ https://github.com/Digital-Preservation-Finland/dpres-signature/archive/refs/tags/v0.18.zip
file-scraper @ https://github.com/Digital-Preservation-Finland/file-scraper/archive/refs/tags/v0.76.zip
ffmpeg-python @ https://github.com/Digital-Preservation-Finland/ffmpeg-python/archive/refs/tags/0.2.0.zip
opf-fido @ https://github.com/Digital-Preservation-Finland/fido/archive/refs/tags/v1.4.0-dpres5.zip
