[uwsgi]
chdir = {{passari_home}}
module = passari_web_ui.wsgi
home = {{passari_web_ui_venv_dir}}

master = true
plugins = python312
processes = 2
socket = {{web_ui_socket_path}}

uid = {{passari_user}}
gid = {{passari_user}}

chmod-socket = 666
vacuum = true

touch-reload = /run/passari-web-ui-reload

stats = /run/passari-web-ui-stats.sock
