[Unit]
Description=Backup MuseumPlus PAS PostgreSQL database
After=network.target

[Service]
Type=simple
WorkingDirectory={{ museumplus_pas_backup_dir }}
ExecStart={{ museumplus_pas_backup_dir }}/backup-postgresql.sh
User={{ museumplus_pas_backup_user }}
Group={{ museumplus_pas_backup_user }}

[Install]
WantedBy=multi-user.target
