#!/bin/bash
mkdir -p postgresql;
cd postgresql;

# Run a backup using pg_dump
BACKUP_NAME="$(date +%Y-%m-%d_%H%M).sql"
pg_dump {{ workflow_db_name }} > $BACKUP_NAME;

# Compress backup
gzip $BACKUP_NAME;

# Delete all but X most recent backups
# https://stackoverflow.com/a/34862475
ls -tp | grep -v '/$' | tail -n +{{ passari_backup_preserve_count + 1 }} | xargs -I {} rm -- {}
