[Unit]
Description=Backup Passari PostgreSQL database
After=network.target

[Service]
Type=simple
WorkingDirectory={{passari_backup_dir}}
ExecStart={{passari_backup_dir}}/backup-postgresql.sh
User={{passari_backup_user}}
Group={{passari_backup_user}}

[Install]
WantedBy=multi-user.target
