# hostname:port:database:username:password
{% if passari_backup_db_password %}
{{db_hostname or "localhost"}}:{{db_port or "*"}}:*:{{passari_backup_db_user}}:{{passari_backup_db_password}}
{% endif %}
