[logging]
# different logging levels:
# 50 = critical
# 40 = error
# 30 = warning
# 20 = info
# 10 = debug
level={{passari_log_level}}

[mets]
# Agent name used in PREMIS events
agent_name='Passari'
# Organization name used in PREMIS events
organization_name='National Board of Antiquities'
# Contract ID used for DPRES REST API and in PREMIS events
contract_id='{{dpres_contract_id}}'

[sign]
# Path to the key used to sign the METS
key_path='{{sip_sign_key_path}}'

[ssh]
host='{{dpres_ssh_host}}'
port='{{dpres_ssh_port}}'
username='{{dpres_ssh_user}}'
private_key='{{dpres_ssh_key_path}}'
home_path='{{dpres_ssh_root_path}}'

[museumplus]
url='{{museumplus_api_url}}'
lido_report_id='{{museumplus_lido_report_id}}'
object_preservation_field_name='{{museumplus_object_preservation_field_name}}'
object_preservation_field_type='{{museumplus_object_preservation_field_type}}'
add_log_entries={% if museumplus_add_log_entries %}true{% else %}false{% endif %}

username='{{museumplus_user}}'
password='{{museumplus_password}}'

[dpres]
# Virtualenv settings for dpres-siptools.
# These allow dpres-siptools to be installed separately
# from passari.
use_virtualenv=false
virtualenv_path=''
