[Unit]
Description=Synchronize MuseumPlus metadata information
After=network.target

[Service]
Type=simple
WorkingDirectory={{passari_home}}
Environment=LANG=en_US.UTF-8
ExecStart={{passari_workflow_venv_dir}}/bin/sync-hashes
User={{passari_user}}
Group={{passari_user}}

[Install]
WantedBy=multi-user.target
